@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
  --pagewidth:1200px;
  --color-green:#32DE8A;
  --color-sap:black;
  --color-gray:#f2f2f2;
  --color-blue:#779CAB;
  --color-sky:#A2E8DD;
}

*, *::before, *::after{
  box-sizing:border-box
}
*{
  margin:0;
  padding:0;
}
img,picture,svg,video{
  display:block;
  max-width:100%;
}
input,textarea,button,select{
  font:inherit;
}
body{
  min-height:100vh;
  font-family: Quicksand;
  color:var(--color-sap);
  background-color:var(--color-gray) ;
}
html{
  color-scheme:dark light;
}

.navsep{
  border-bottom: solid 1px var(--color-sap);
  background-color: var(--color-sap);
}
.navbar{
  display:flex;
  padding:10px;
  max-width:var(--pagewidth);
  align-items: center;
  margin:0px auto;
  
}
.navbar img{
  width:125px;
  padding-right:60px;

}
.navbar a{
  text-decoration: none;
  color: var(--color-sky);
}
.navbar .links{
margin-left:auto;
}
.navbar .links a{
  padding-left:20px;
  text-decoration: none;
  color: var(--color-sky);
}
.navbar .links a:hover{
  color: #f2f2f25e;
}
.content{
  padding: 20px;
  margin: 40px auto;
  max-width: var(--pagewidth);

}

.content:before{
  content: "";
  position:absolute;
  top:0;
  left:0;
  background-image:url(isharalogogray.png);
  background-size:500px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height:100%;
  opacity:.1;
  z-index: -1;
}
@media (max-width:600px) {
  .content:before{
    background-size:400px;
  }
}
